#rcbrandDemo2 {
  display: none;
}

.row {
  border-radius: 50% !important;
  border-style: none;
}

.rc-rcbrand-container {
  position: relative;
  max-width: 100%;
  margin-top: 0 !important;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .rc-rcbrand-container {
    max-width: 115%;
  }
}

.rc-rcbrand-ul {
  position: relative;
  width: 99999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
  overflow: auto;
  height:33vh;
}
.logo_names{
  color:#000 !important;
  margin-top: 1.1rem;
  /* font-size: 1.2rem; */
}
.rc-rcbrand-inner {
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px 5px;
  /* margin: 4vh 4vw; */
  padding: 0vh 2vw 3vh;
  border-radius: 4vh;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .rc-rcbrand-inner {
    padding: 5vh 2vw 0vh;
  }
}

.rc-rcbrand-item {
  float: left;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  position: relative;
  line-height: 0px;
}
.rc-rcbrand-item img {
  max-width: 100%;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rc-rcbrand-nav-left,
.rc-rcbrand-nav-right {
  padding: 5px 10px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(255, 102, 0, 0.5);
  color: #fff;
  display: none;

}

.rc-rcbrand-nav-left {
  left: 10px;
}

.rc-rcbrand-nav-left:before {
  content: "<";
}

.rc-rcbrand-nav-left.disabled {
  opacity: 0.4;
}

.rc-rcbrand-nav-right {
  right: 5px;
}

.rc-rcbrand-nav-right:before {
  content: ">";
}

.rc-rcbrand-nav-right.disabled {
  opacity: 0.4;
}
